extends layout

block content
  br
  br
  center
    h1= title
  br
  br
  .row 
    each content in contents
      .col-md-3.col-sm-6 
        .card.border-secondary.text-white.bg-secondary.mb-3
            .card-body 
              .container
                .row
                  .col.s12.m3
                    .card-image
                      img.responsive-img(src=content.imghref,width="100%",height="350" )
            p.card-text
              center
                &nbsp;#{content.prod_name}
                br
                br

                big
                  b 
                    &nbsp;#{content.price}
                
            .card-body
                a.card-link(href=content.href,target="_blank")=content.href